@charset "UTF-8";
/* CSS Document */
/*My Color Palette
Color 1: #22B293
Color 2: #6CFFDF
Color 3: #B23F16
*/
body { 
font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
color:white;
/*background-color:darkgrey;*/
background-image: url("../images/hi.gif");
}
#footer p {
text-align: right;

}


/*********************************************************************************************************************************************************************************************************************************************

																																			Basic Structure

*********************************************************************************************************************************************************************************************************************************************/

#wrapper {
		width: 960px;
		padding: 5px;
		margin: 20px auto;
	}

#header {
	height: 100px;
	}

#sidebar {
	float: left;
	width: 300px;
	}
	
	#content {
		float: right;
		width: 600px;
		}

#footer {
	clear: both;
	}



/*********************************************************************************************************************************************************************************************************************************************

																																			Transparent Background

*********************************************************************************************************************************************************************************************************************************************/






/*********************************************************************************************************************************************************************************************************************************************

																																			Responsive Width

*********************************************************************************************************************************************************************************************************************************************/
@media screen and (max-width: 980px) {
	#wrapper {
		width: 94%;
}
#content {
	width: 65%;
}
#sidebar {
	width: 30%;
}

}

@media screen and (max-width: 700px) {
	#content, #sidebar {
		width: auto;
		float: none;
	}
	#header {
		height: auto;
	}
}

@media screen and (max-width: 480px) {
}



/*********************************************************************************************************************************************************************************************************************************************

																																			Colors and Fonts

*********************************************************************************************************************************************************************************************************************************************/

body {
		font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
		color: black;
		background-color: skyblue

	}

#header, #sidebar, #content, #footer {
	background-color: rgba(255,255,255,0.7);
    margin-bottom: 4px;
	border:inset;
	border-radius: 8px;
	border-color: grey;
	padding-left: 4px;
	padding-right: 4px;
	
	}












